<div class="quicklink-page">
	<div class="container">
		<div class="row page-outer-area">
			<div class="col-md-12">
				<div class="page-content">
					<h3 class="text-center">About Us</h3>
					<div class="heading">
						<p>
							<a href="#/">DiyoLiyo.co</a>, a India based company was established in 2016. We are actively involved in suppling or delivering a wide assortment of the products of Odisha. We are very meticulous for quality work and customer satisfaction. 
						</p>
					</div>
					<ol>
						<li>
							<h4>Our reach</h4>
							<p>
								We supply our products to all over India. 
							</p>
						</li>
						<li>
							<h4>For any query</h4>
							<p>
								For any information mail us on <a href="mailto:info@diyoliyo.co">info@diyoliyo.co </a>
							</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>