<div class="form-container">
  <div class="container">
    <div class="form-outer">
      <div>
        <h2>Change Password</h2>
        <form name="myForm" ng-submit="changepassword()" novalidate>
          <div class="field">
            <input type="password" name="old_password"  ng-model="user.old_password" placeholder="Old Password*" required>  
          </div>
          <div class="field">
            <input type="password" name="new_password"  ng-model="user.new_password" placeholder="New Password*" required>  
          </div>
          <div class="field">
            <input type="password" name="confirm_password" ng-pattern="{{ user.new_password }}" ng-model="confirm_password" placeholder="Confirm Password*" required>      
          </div>
          <button type="submit" ui-sref="home" title="Please fill above details to make it active!">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>