<!-- Checkout area -->
<div class="checkout-container">
    <div class="container">
        <div class="checkout-details">
            <div class="add-delivery-address">
                <h3>Delivery Address</h3>
                <form>
                    <div class="field form-group">
                        <input type="text" name="name" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="field form-group">
                        <input type="tel" name="phone" class="form-control" placeholder="Mobile Number">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="pincode" class="form-control" placeholder="Pincode">
                    </div>
                    <div class="field form-group">
                        <input type="tel" name="phonealt" class="form-control" placeholder="Alternate Mobile Number (optional)">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="address1" class="form-control" placeholder="Flat / House No. / Floor / Building">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="address2" class="form-control" placeholder="Colony / Street / Locality">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="locality" class="form-control" placeholder="Landmark (optional)">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="city" class="form-control" placeholder="Town/City">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="state" class="form-control" placeholder="State">
                    </div>
                    <div class="field form-group">
                        <input type="text" name="country" class="form-control" placeholder="Country">
                    </div>
                    <div class="clearfix"></div>
                    <!-- <div class="submit-button clearfix">
                        <button class="pull-right" type="submit">Deliver to this address</button>
                    </div> -->
                </form>
            </div>
            <div class="payment-methods">
                <h3>Payment Methods</h3>
                <ul>
                    <li>
                        <a href="#">Cash on Delivery</a>
                    </li>
                    <li>
                        <a href="#">Pay Online</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //Checkout area -->