<div class="contact-area">
  <div class="container">
    <div class="contact-outer-area row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="full-address">
          <div class="address-details">
            <h2>DiyoLiyo</h2>
            <div class="row">
              <div class="col-xs-12">
                <p><i class="fa fa-user" aria-hidden="true"></i> Arun Kumar Agarwal (M.D.)</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +91-7077983203,  +91-9438405980</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:diyoliyo2016@gmail.com"> diyoliyo2016@gmail.com</a></p>
                <p><i class="fa fa-location-arrow" aria-hidden="true"></i> India.</p>
              </div>
            </div>
          </div>
          <div class="address-map">
            <h3>Find Us Here</h3>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17717.40655054971!2d84.03745533461914!3d22.113812877907247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a20ecbf93bea593%3A0x3d06ed36bbafe983!2sDiyoLiyo!5e0!3m2!1sen!2sin!4v1508590773217" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="contact-form">
          <h2>Contact Us</h2>
          <form name="myForm" novalidate >
            <div class="field">
              <input type="text" name="name" ng-model="user.name" placeholder="Name*" required>
            </div>
            <div class="field">
              <input type="email" ng-model="user.email" name="email" ng-model="user.email" placeholder="E-mail*" required>
            </div>
            <div class="field">
              <input type="text" name="contact" ng-model="user.contact" placeholder="Contact Number*" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" required>
            </div>
            <div class="field">
              <textarea name="message" ng-model="user.message" placeholder="Question/Query" required></textarea >
            </div>
            <button class="submit-button" ng-click="contactUs()" type="button" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>