<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-4 quicklinks footer-links">
                    <h4>Quicklinks</h4>
                    <ul>
                        <li><a href="#/about">About Us</a></li>
                        <li><a href="#/contact">Contact Us</a></li>
                        <li><a href="#/terms-and-conditions">Terms & Conditons</a></li>
                        <li><a href="#/shipping-policy">Shipping Policy</a></li>
                        <li><a href="#/refund-policy">Refund/Return Policy</a></li>
                        <li><a href="#/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-4 join-us-links footer-links">
                    <h4>Join Us</h4>
                    <ul>
                        <li><a href="#/register">Customer Registration</a></li>
                        <li><a href="#/about">Our Franchisers</a></li>
                        <li><a href="#/">Promoter Registration</a></li>
                        <li><a href="#/">Advertise Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-4 reach-us footer-links">
                    <h4>Reach Us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Diyoliyo</a></li>
                        <li><a href="mailto:support@diyoliyo.co"><i class="fa fa-envelope" aria-hidden="true"></i> support@diyoliyo.co</a></li>
                        <li><a href="tel:+91-9438405980"><i class="fa fa-phone" aria-hidden="true"></i> +91-9438405980</a></li>
                        <li class="get-social">
                            <a href="#"><i class="fa fa-facebook footer-icon" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram footer-icon" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright-text text-center">
                        <p>DiyoLiyo © All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>