<div class="form-container">
  <div class="container">
    <div class="form-outer">
      <div>
        <h2>Forgot Your Password?</h2>
        <form novalidate>
          <div class="field">
            <input type="email" name="email" ng-model="user.email" placeholder="E-mail*" required>
          </div>
          <button type="submit" ui-sref="update-password" title="Please enter the email">Submit</button>
          <div class="form-link"><span>Don't have account?</span> <a href="#/register"> SignUp Now</a></div>
        </form>
      </div>
    </div>
  </div>
</div>