<div class="form-container class-due-padding">
  <div class="container">
    <div class="form-outer col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <div>
        <h2>Forgot Password?</h2>
        <form name="myForm" ng-submit="forgot()" novalidate>
          <div class="field">
            <input type="email" name="email" ng-model="user.email" placeholder="E-mail*" required>
            <span class="error-messages" ng-show="myForm.email.$touched && myForm.email.$invalid">
              <span ng-show="myForm.email.$error.required">Email is required!</span>
              <span ng-show="myForm.email.$error.email">Invalid email address!</span>
            </span>
          </div>
          <button type="submit" ng-disabled="myForm.$invalid" title="Please enter the email">Submit</button>
          <div class="form-link"><span>Don't have account?</span> <a href="#/register"> SignUp Now</a></div>
        </form>
      </div>
    </div>
  </div>
</div>