<header>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false"
                    aria-controls="main-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a href="#/dashboard" class="navbar-brand logo">
                        <img src="app/content/img/logo.jpg" alt="Logo Image">
                    </a>
            </div>
            <div class="header-right collapse navbar-collapse pull-right" id="main-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a is-active-nav href="#/home">Home</a></li>
                    <li><a is-active-nav href="#/contact">Contact</a></li>
                    <li><a is-active-nav href="#/about">About Us</a></li>
                    <!-- <li><a is-active-nav href="#/update-profile">Update Profile</a></li> -->
                    <!-- <li><a is-active-nav href="#/changepassword">Change Password</a></li> -->
                    <li class="sub-menu-dropdown">
                        <div class="dropdown">
                          Signup
                            <div class="dropdown-content">
                                <a is-active-nav href="#/register">SignUp As Customer</a>
                                <a is-active-nav href="javascript:;">SignUp As Vendor</a>
                                <a is-active-nav href="javascript:;">SignUp As Partner</a>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu-dropdown">
                        <div class="dropdown">
                            Login
                              <div class="dropdown-content">
                                <a is-active-nav href="#/login">Login As User</a>
                                <a is-active-nav href="#/login">Login As Vendor</a>
                                <a is-active-nav href="#/login">Login As Partner</a>
                            </div>
                        </div>
                    </li>
                    <!-- <li><a is-active-nav href="#/" ng-click="logout()">Logout</a></li> -->
                </ul>
            </div>
            <div class="cart-button pull-right">
                <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Cart
                    <span class="cart-value">(0)</span>
                </a>
            </div>
            <div class="search-field-box pull-right">
                <div class="form-group search-field">
                        <input type="text" my-enter="searchValueCall()" class="form-control" ng-model="searchValue" placeholder="Search Brands & Products">
                    <button type="button" ng-click="searchValueCall()"></button>
                </div>
            </div>
        </div>
    </nav>
    <div class="bottom-header">
        <ul>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Appliances</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Offer Zone</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Miscellaneous</a></li>
            <li class="contact-no">
                <a href="tel:+91-9438405980">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                     +91-9438405980
                </a>
            </li>
        </ul>
    </div>
</header>