<div class="form-container">
  <div class="container">
    <div class="form-outer">
      <div>
        <h2>Login Form</h2>
        <form ng-submit="login()" novalidate>
          <div class="field">
            <input type="email" name="email" ng-model="user.email" placeholder="E-mail*" required>
          </div>
          <div class="field">
            <input type="password" ng-model="user.password" placeholder="Password*" required>    
          </div>
          <button type="submit" title="Please fill above details to make it active!">Login</button>
          <div class="form-link"><span>Don't have account?</span> <a href="#/register"> SignUp Now</a></div>
           <div class="form-link"><a href="#/forgot-password">Forgot Password?</a></div>
        </form>
      </div>
    </div>
  </div>
</div>