<div class="product-page">
    <div class="container">
        <div class="item-description-container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 products-images">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2 class="item-title">DELISH 2500</h2>
                    <div class="price-details">
                        <div class="item-price">
                            <span class="final-price">Rs 450</span>
                            <span class="actual-price">Rs 500</span>
                        </div>
                        <p class="shipping-charge">Shipping Charges: Rs 50</p>
                    </div>
                    <div class="item-attributes row">
                        <div class="form-group col-md-4 col-xs-6">
                          <label for="color">Color</label>
                          <select class="form-control" id="color">
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Green</option>
                            <option>Yellow</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4 col-xs-6">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity">
                        </div>
                    </div>
                    <div class="item-description">
                        <h4>Product Description</h4>
                        <p>
                            Milton hot case delish 2500, Lorem ipsum, dolar sit amet, milton hot case delish 2500, Lorem ipsum, dolar sit amet milton hot case delish 2500, Lorem ipsum, dolar sit amet. 
                        </p>
                    </div>
                    <div class="item-terms-condition">
                        <ol>
                            <li>The color shown on the image may vary from the actual product color.</li>
                            <li>Product Delivered in 10-15 Working days. with 50 rupees of shipping charges.</li>
                        </ol>                        
                    </div>
                    <div class="add-cart-button">
                        <button type="submit" class="button">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>