<div class="quicklink-page">
	<div class="container">
		<div class="row page-outer-area">
			<div class="col-md-12">
				<div class="page-content">
					<h3 class="text-center">Shipping Policy</h3>
					<div class="heading">
						<p>
							Unlike many other web sites that have special rules and lots of fine print, DiyoLiyo has a transparent and clear shipping policy for all orders placed on our website, without any special exceptions. Just because shipping is free doesn't mean it should take a long time. We understand that getting your items quickly is important to you, so we make every effort to process your order quickly. We are committed to delivering your order accurately, in good condition, and always on time promised by us in our website.
						</p>
					</div>
					<ol>
						<li>
							<p>
								Each order may be shipped only to a single destination address specified at the time of payment for that order. If you wish to ship products to different addresses, you shall need to place multiple orders. 
							</p>
						</li>
						<li>
							<p>
								We make our best efforts to ship each item in your order within <span>7-10 working days</span> of the order. However in some cases, we may take longer, up to <span>12-15 working days,</span> to ship the order as we may have to procure it from some other stores or our suppliers.
							</p>
						</li>
						<li>
							<p>
								We ship on all week days (Monday to Saturday), excluding public holidays.
							</p>
						</li>
						<li>
							<p>
								To ensure that your order reaches you in the fastest time and in good condition, we only ship through reputed courier agencies.
							</p>
						</li>
						<li>
							<p>
								While we shall strive to ship all items in your order together, this may not always be possible due to product characteristics, or availability.
							</p>
						</li>
						<li>
							<p>
								If you believe that the product is not in good condition, or if the packaging is tampered with or damaged, before accepting delivery of the goods, please refuses to take delivery of the package, and call our Customer Care or log on to <a href="www.DiyoLiyo.co" target="_blank">www.DiyoLiyo.co</a> , mentioning your order reference number. We shall mentioning your order reference number. We shall make our best efforts to ensure that a replacement delivery is made to you at the earliest.
							</p>
						</li>
						<li>
							<p>
								Please note all items (including gifts) will be shipped with an invoice mentioning the price, as per Indian Tax Regulations.
							</p>
						</li>
						<li>
							<p>
								However shipping charges for every product may vary according to the size, weight, shipping destination and nature of the product.
							</p>
						</li>
						<li>
							<p>
								MRP shown in Diyoliyo.co is the final price of the product.
							</p>
						</li>
						<li>
							<p>
								Customers will receive their shipping details through email or sms after their item dispatch by Diyoliyo.co
							</p>
						</li>
						<li>
							<p>
								Customer has to collect his/ her item from near by courier hub of the locality, if there is no direct home delivery service of the courier company to the address mentioned by the customer.
							</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>